@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes float {
  0% {
    transform: translateY(0) scale(2);
  }
  50% {
    transform: translateY(-60px) scale(2);
  }
  100% {
    transform: translateY(0) scale(2);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float-scale {
  animation: float 3s ease-in-out infinite;
}
/* Hide scrollbars for Webkit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}
